/* primary-menu.css */
.menu-list .arrow-icon {
  padding: 0;
  background-color: transparent;
  color: inherit;
  border: 0;
  vertical-align: text-bottom;
  margin-left: 0.5rem;
}

.menu-list li{
  margin-bottom: 0;
}

.menu-list li > strong {
  font-weight: inherit;
}

/* header */
.header .menu-list .sub-menu-list {
  padding-left: 1rem;
  background-color: var(--color-bg-default);
}

/* footer */

@media only screen and (width >= 992px) {
  .header .menu-list > li > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: var(--color-link-default);
    transition: width 0.2s ease;
  }

  .header .menu-list > li > a:hover::after {
    width: 100%;
  }

  .header .menu-list li {
    position: relative;
  }

  .header .menu-list .sub-menu-list {
    position: absolute;
    min-width: 200px;
    left: 0;
    top: 150%;
    padding: 1rem;
    background-color: var(--color-bg-default);
    box-shadow: 0 0 10px rgb(0 0 0 /12%);
    opacity: 0;
    visibility: hidden;
    border-radius: 0.25rem;
    transition: all 0.3s ease-in-out;
  }

  .header .menu-list > li:hover .sub-menu-list {
    opacity: 1;
    visibility: visible;
  }
}

@media (width <= 991px) {
  .header .menu-list {
    width: 100%;
  }

  .header .menu-list > li {
    display: flex;
    flex-direction: column;
  }

  .header .menu-list > li > a {
    display: flex;
  }

  .header .menu-list .sub-menu-list {
    max-height: 0;
    overflow: hidden;
    padding-left: 1rem;
    transition: max-height 280ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header .menu-list .sub-menu-list > li {
    padding-top: 1rem;
  }

  .header .menu-list li.list-open > .sub-menu-list {
    max-height: 500px;
  }

  .menu-list .arrow-icon {
    transition: transform 240ms ease;
    padding: 0.5rem;
    margin-left: auto;
    position: absolute;
    right: 0;
    top: -2px;
    transform: rotate(-90deg);
  }

  .menu-list li.list-open > a .arrow-icon {
    transform: rotate(0);
  }
}
