/* stylelint-disable no-descending-specificity */
.header-wrapper {
  background-color: var(--color-bg-default);
  border-bottom: 1px solid var(--color-border-default);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 9;
}

.header.block {
  max-width: 1200px;
  margin: 0 auto;
}

.header nav {
  padding: 1rem 0;
}

.header .nav-brand {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .nav-brand p {
  flex-basis: 140px;
  line-height: 1;
  margin-bottom: 0;
}

.header .nav-brand a {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-text-primary);
  text-decoration: none;
}

.header .nav-brand a:hover {
  color: var(--color-link-default);
}

.header nav .primary-menu-container,
.header .nav-sections,
.header .nav-sections ul {
  gap: 2rem;
}

.header .nav-sections ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .nav-sections li a {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--color-text-primary);
  cursor: pointer;
  position: relative;
}

.header .nav-sections li:hover > a {
  color: var(--color-link-default);
}

.nav-hamburger button {
  color: #fff;
  z-index: 99;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;
  width: 48px;
  height: 48px;
  padding: 0;
  cursor: pointer;
}

.nav-hamburger button span {
  position: relative;
}

.nav-hamburger button span::after,
.nav-hamburger button span::before {
  content: "";
  position: absolute;
  left: 0;
}

.nav-hamburger button span::before {
  top: -6px;
}

.nav-hamburger button span::after {
  top: 6px;
}

.nav-hamburger button span,
.nav-hamburger button span::after,
.nav-hamburger button span::before {
  width: 24px;
  height: 1px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-link-default);
}

nav[aria-expanded="true"] .nav-hamburger button {
  transition: all 0.3s ease-in-out;
}

nav[aria-expanded="true"] .nav-hamburger button span {
  transform: rotate(-45deg);
}

nav[aria-expanded="true"] .nav-hamburger button span::before {
  top: 0;
}

nav[aria-expanded="true"] .nav-hamburger button span::after {
  transform: rotate(90deg);
  top: 0;
}

@media (width > 992px) {
  .header .nav-sections li > strong > a {
    padding: 0.45rem 1rem;
    font-size: 0.9rem;
    border-radius: 4px;
    border: 1px solid var(--color-link-default);
    background: transparent;
    color: var(--color-link-default);
    text-decoration: none;
  }

  .header .nav-sections li > strong > a:hover {
    background-color: var(--color-link-default);
    color: var(--color-bg-default);
  }

  .header .nav-hamburger {
    display: none;
  }

  .header nav .primary-menu-container,
  .header .nav-sections {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (width <= 991px) {
  .header-wrapper {
    position: fixed;
    height: 84px;
    background: var(--color-bg-default);
    z-index: 1000;
    overflow: hidden;
  }

  .header-wrapper[aria-expanded="true"] {
    height: 100vh;
  }

  .header-wrapper > .header,
  .header-wrapper nav {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .header .nav-sections {
    flex: 1;
    background: var(--color-bg-default);
    overflow-y: auto;
    padding: 1.5rem 0;
    margin-left: -15px;
    margin-right: -15px;
  }

  .header .nav-sections ul {
    flex-direction: column;
    gap: 0;
  }

  .header .nav-sections li {
    margin-bottom: 0;
  }

  .header .nav-sections .menu-list > li {
    padding: 1rem;
  }

  .header .nav-sections .menu-list > li:not(:last-child) {
    border-bottom: 1px solid var(--color-border-default);
  }
}
