.hero {
  position: relative;

  /* padding: 40px 24px; */
  min-height: 300px;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* @media (width >= 992px) {
  .hero {
    padding: 40px 32px;
  }
} */
