.hero-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.hero-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--color-brand-primary-rgb) / 10%);
}

.hero-wrapper {
  position: relative;
  z-index: 1;
}

.hero-wrapper p {
  color: inherit;
}

.hero-bg .hero-wrapper .button.secondary{
  border-color: #fff;
  color: #fff;
}

.hero {
  max-width: 960px;
}
