footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 992px) {
  footer {
    padding: 40px 32px 24px;
  }
}
